@charset "utf-8";
body{background:#EFF4FB;}
.bg-color{background:#615DFA;box-shadow:0px 0px 30px rgba(0,0,0,0.07);min-width:1440px;}
.width{max-width:1440px;min-width:1440px;margin:0 auto;}
.header{padding:0;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-between;height:80px;}
.header .header-left{display:flex;flex-wrap:wrap;align-items:center;}
.header .logo{margin-right:20px;max-width:300px;}
.header .logo img{max-height:80px;}
.header .ui-nav{}
.header .ui-nav ul li a{color:#fff;padding:20px;font-size:16px;}
.header .ui-nav ul li a:hover,.header .ui-nav ul li.active a{color:#5EDFFF;}
.header .ui-nav ul li ul{padding:5px;border-radius:10px;min-width:240px;}
.header .ui-nav ul li ul:before{position:absolute;top:0;left:35px;content:"";display:block;width:14px;height:14px;border:0;background:#fff;transform:translateX(-50%) translateY(-50%) rotate(-140deg);z-index:-1;}
.header .ui-nav ul li ul li a,.header .ui-nav ul li.active ul li a{color:#333;padding:12px 25px;}
.header .ui-nav ul li ul li a:hover{color:#fff;background:#615DFA;}
.header .search{font-size:0;}
.header .search input[type=text]{background:#534FEE;border-radius:38px;border:0;color:#fff;padding:0 25px;line-height:45px;height:45px;width:240px;font-size:15px;overflow:hidden;vertical-align:middle;}
.header .search input[type=text]::-webkit-input-placeholder{color:#fff;}
.header .search button[type=submit]{background:#5EDFFF;color:#fff;border:0;border-radius:38px;margin-left:-44px;width:38px;height:38px;font-size:15px;overflow:hidden;
vertical-align:middle;}
.ui-am-scale-up{z-index:999;}
.bg-white{background:#fff;}
.bg-white .ui-nav ul li a{color:#333;}
.bg-white .header .ui-nav ul li ul{border:1px solid #f3f3f3;}
.bg-white .header .ui-nav ul li a:hover,.bg-white .header .ui-nav ul li.active a{color:#615DFA;}
.bg-white .header .ui-nav ul li ul:before{border:1px solid #f3f3f3;border-left:0;border-top:0;}
.bg-white .header .ui-nav ul li ul li a,.bg-white .header .ui-nav ul li.active ul li a{color:#333;padding:12px 25px;}
.bg-white .header .ui-nav ul li ul li a:hover{color:#333;background:#fafafa;}
.bg-white .header .search input[type=text]{background:#fff;border:1px solid #f3f3f3;color:#999;}
.bg-white .header .search input[type=text]::-webkit-input-placeholder{color:#999;}
.bg-white .header .search button[type=submit]{background:#615DFA;color:#fff;}
.banner-wrap{margin:20px auto;}
.banner{width:100%;z-index:10;border-radius:20px;overflow:hidden;background:#fff;}
.banner .ui-carousel-item a{height:500px;display:block;width:100%;}
.banner .ui-carousel-item a img{}
.banner .ui-carousel-page{bottom:25px;}
.banner .ui-carousel-page li{height:10px;width:10px;border-radius:10px;transition:all 1s}
.banner .ui-carousel-page li.active{width:40px;}
.ui-carousel-prev,.ui-carousel-next{width:140px;}
.ui-carousel-prev-icon,.ui-carousel-next-icon{background:rgba(0,0,0,.1);width:60px;height:60px;padding:20px;border-radius:50%;font-size:24px;position:relative;}
.ui-carousel-next-icon:after{display:block;position:absolute;content:"";background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");width:20px;height:20px;top:20px;left:20px;}
.ui-carousel-prev-icon:after{display:block;position:absolute;content:"";background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");width:20px;height:20px;top:20px;left:20px;}
.nicebox{overflow:hidden;flex-wrap:nowrap;}
.nicebox .ui-col-3{flex:0 0 345px;max-width:345px;margin:0 20px 0 0;}
.nicebox .ui-card{border:0;border-radius:4px;}
.nicebox .ui-card-image{height:220px;overflow:hidden;border-radius:4px 4px 0 0;}
.nicebox .ui-card-image img{border-radius:4px 4px 0 0;height:100%;transition:all .5s;}
.nicebox .ui-card-image:hover img{transform:scale(1.4);}
.nicebox .ui-card-title{height:50px;overflow:hidden;}
.nicebox .ui-card-footer{border:0;border-radius:4px;}
.nicebox .ui-card-text{height:50px;overflow:hidden;}

.boxlist{overflow:hidden;}
.boxlist .ui-col-4{flex:0 0 320px;max-width:320px;margin:0 20px 20px 0;}
.boxlist .ui-col-4:nth-child(3n){margin-right:0;}
.boxlist .ui-card{border:0;border-radius:8px;}
.boxlist .ui-card-image{height:204px;overflow:hidden;border-radius:4px 4px 0 0;}
.boxlist .ui-card-image img{border-radius:4px 4px 0 0;height:100%;transition:all .5s;}
.boxlist .ui-card-image:hover img{transform:scale(1.4);}
.boxlist .ui-card-title{height:50px;overflow:hidden;}
.boxlist .ui-card-body{border:1px solid #eaeaea;border-radius:0 0 4px 4px;}
.boxlist .ui-card-footer{border:0;border-radius:4px;}
.boxlist .ui-card-text{height:50px;overflow:hidden;}

.container{display:flex;flex-wrap:wrap;justify-content:space-between;}
.container .container-left{width:1075px;}
.container .container-right{width:345px;margin-left:20px;}
.box{padding:20px 25px;box-shadow:0px 0px 30px rgba(28,31,33,0.1);background:#fff;border-radius:14px;position:relative;}
.ui-menu-color .ui-menu-name{color:#615DFA;border-bottom-color:#615DFA;font-weight:bold;}
.ui-media-img{overflow:hidden;border-radius:4px}
.ui-media-img img{border-radius:4px;transition:all .5s;border:0;padding:0;}
.ui-media-img:hover img{transform:scale(1.4);}
.ui-media-header a:hover{color:#3377FF;}
.ui-media-text{height:50px;overflow:hidden;}
.link{margin-top:20px;}
.link a{display:inline-block;margin:0 10px 10px 0;}
.link a:hover{border-color:#ccc;}
.copyright{background:#fff;min-width:1440px;padding:40px 0 20px 0;margin-top:20px;line-height:35px;font-weight:400;}
.footnav{color:#999;font-family:宋体;}
.ui-sidebar{position:fixed;right:0;top:0;display:flex;align-items:center;}
.ui-sidebar ul{/*border-radius:0;*/margin-top:35px;}
.ui-sidebar ul li a{width:70px;line-height:60px;}
.ui-sidebar ul li a i{font-size:28px;}
.ui-sidebar ul li div{line-height:60px;font-size:16px;min-width:120px;}
.ui-sidebar ul li:hover div{right:80px;}
.ui-sidebar-color ul li a{color:#615DFA;}
.ui-sidebar-color ul li a:hover{background:#615DFA;border-color:#615DFA;}
.ui-sidebar-color ul li.active a{background:#615DFA;border-color:#615DFA;}
.ui-text-color{color:#999 !important;}
.ui-flag{width:100px;height:100px;display:block;overflow:hidden;position:absolute;left:0;top:0;border-radius:14px 0 0 0;}
.ui-flag i{color:#fff;width:120px;height:120px;line-height:190px;text-align:center;position:absolute;font-style:normal;top:-60px;left:-60px;transform:rotate(-45deg);background:#37f;}
.ui-show-title{padding:15px 20px;}
.ui-show-title h1{font-size:32px;color:#1c1f21;line-height:40px;margin:8px 0;}
.ui-show-title div{font-size:14px;color:#999;margin:10px 0;}
.ui-show-image .ui-col-3{flex:0 0 241px;max-width:241px;margin:0 20px 20px 0;}
.ui-show-image .ui-col-3:nth-child(4n){margin-right:0;}
.ui-show-image .ui-card{border:0;border-radius:8px;}
.ui-show-image .ui-card-image{height:220px;overflow:hidden;border-radius:8px;}
.ui-show-image .ui-card-image img{border-radius:8px;height:100%;transition:all .5s;}
.ui-show-image .ui-card-image:hover img{transform:scale(1.4);}
.ui-show-body{padding:15px 20px;line-height:36px;font-size:16px;word-break:break-all;}
.ui-show-body *{max-width:100%;}
.ui-show-body p{font-size:16px;line-height:30px;margin:0 0 20px 0;}
.ui-show-tags{}
.ui-show-tags a{padding:0 10px;line-height:35px;}
.ui-show-share{text-align:right;color:#999;}
.ui-show-share a{display:inline-block;width:40px;line-height:35px;height:40px;border-radius:50%;border:1px solid #eaeaea;margin-left:10px;text-align:center;}
.ui-show-share a i{font-size:22px;}
.ui-show-share a:nth-child(1){color:#1890FF;}
.ui-show-share a:hover:nth-child(1){border-color:#1890FF;}
.ui-show-share a:nth-child(2){color:#ED4014;}
.ui-show-share a:hover:nth-child(2){border-color:#ED4014;}
.ui-show-share a:nth-child(3){color:#19BE6B;}
.ui-show-share a:hover:nth-child(3){border-color:#19BE6B;}
.ui-pre{width:60px;height:60px;display:block;overflow:hidden;position:absolute;left:0;top:0;border-radius:14px 0 0 0;border:1px solid #fff;border-right:0;border-bottom:0;}
.ui-pre i{color:#333;width:106px;height:106px;line-height:185px;text-align:center;position:absolute;font-style:normal;top:-60px;left:-60px;transform:rotate(-45deg);background:#ebebeb;font-size:13px;}
.ui-next{width:60px;height:60px;display:block;overflow:hidden;position:absolute;right:0;top:0;border-radius:0 14px 0 0;border:1px solid #fff;border-left:0;border-bottom:0;}
.ui-next i{color:#333;width:106px;height:106px;line-height:185px;text-align:center;position:absolute;font-style:normal;top:-60px;right:-60px;transform:rotate(45deg);background:#ebebeb;font-size:13px;}
.ui-collapse-menu-title{padding-left:10px;}
.ui-collapse-menu-title.active{background:#fff;}
.ui-collapse-menu-title.active a{color:#615DFA;}
.ui-media-list-min .ui-media{padding-bottom:5px;margin-bottom:10px;}
.ui-media-list-min .ui-media .ui-media-header{font-size:16px;max-height:46px;}
.ui-card-book{border:1px solid #DFEDFF;border-radius:0 20px 0 0;}
.ui-card-book .ui-card-header{padding:15px 25px;line-height:30px;background:#F8FBFF;border-bottom:1px solid #DFEDFF;border-radius:0 20px 0 0;}
.ui-card-book .ui-card-header .ui-card-header-title{border:0;padding:0;}
.ui-card-book .ui-card-body{padding:20px 25px 25px 25px;word-break:break-all;}
.ui-card-book .ui-card-footer{border-top:0;padding:0 25px 20px 25px;}