@charset "utf-8";
ul{list-style:none;margin:0;padding:0;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.m20{margin:20px 0;}
.p10{padding:10px;}
.p30{padding:30px;}
.clear{clear:both;}
body{background:#fff;}

.notsupport{position:fixed;top:0;bottom:0;z-index:99999;width:100%;height:100%;text-align:center;clear:both;color:#fff;background:#0072C6;}
.notsupport h1{font-size:100px;margin-top:200px;margin-bottom:30px;}
.notsupport h2{font-size:30px;margin-bottom:30px;}

.width{width:1190px;margin:0 auto;}

.inner_container{min-height:500px;padding:30px 0;}
.inner_container p{line-height:36px;}
.subject{border-bottom:1px solid #eaeaea;margin-bottom:30px;}
.subject b{border-bottom:2px solid #04A9F5;height:50px;line-height:50px;display:inline-block;margin-bottom:-1px;font-weight:normal;color:#3b3b3b;font-size:20px;font-family:microsoft yahei;}

.install{border:1px solid #f3f3f3;padding:30px 50px;box-shadow:0px 0 10px rgba(0,0,0,0.1);min-height:450px;}
.install p{line-height:30px;}
.ui-step{margin-bottom:30px;}